{% extends 'layouts/index.twig' %}

{% block main %}
    <article itemscope itemtype="http://schema.org/BlogPosting">
        <header>
            <h1 itemprop="name">{{ page.title }}</h1>
            {% include 'includes/info.twig' %}
        </header>
        <div itemprop="text">{{ page.content|content }}</div>
        <footer>
            {% include 'includes/share.twig' %}
        </footer>
    </article>
    {% if page.previous().url is defined or page.next().url is defined %}
        <nav>
            <ul class="pager">
                {% if page.previous().url is defined %}
                    <li class="previous"><a rel="prev" href="{{ url(page.previous().url) }}"><i class="glyphicon glyphicon-chevron-left"></i> Older</a></li>
                {% else %}
                    <li class="previous disabled"><a rel="prev" href="#"><i class="glyphicon glyphicon-chevron-left"></i> Older</a></li>
                {% endif %}

                {% if page.next().url is defined %}
                    <li class="next"><a rel="next" href="{{ url(page.next().url) }}">Newer <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                {% else %}
                    <li class="next disabled"><a rel="next" href="#">Newer <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                {% endif %}
            </li>
        </nav>
    {% endif %}
{% endblock %}
